<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <% if(message) { %>
  <%= message %>
  <% } %>
  <form action="/login" method="post">
    <div>
      <label>ユーザーID：</label>
      <input type="text" name="username" />
    </div>
    <div>
      <label>パスワード：</label>
      <input type="password" name="password" />
    </div>
    <div>
      <input type="submit" value="ログイン" />
    </div>
  </form>
</body>

</html>